#testimonials {
    padding: 8rem 0;
    background:linear-gradient(rgba(255, 255, 255, 0.411),rgba(255, 255, 255, 0.397)), url(../../images/beach--background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.testimonials__title {
    text-align: center;
    font-size: 3.4rem;
    margin-bottom: 7rem;
    display: block;
}

.testimonials__content {
    
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.testimoials__item {
    width: 80%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.658);
    margin: 2rem 1rem;
}


.testimonials__img {
    width: 6rem;
    height: 6rem;
    border: 5px solid #fff;
    border-radius: 50%;
    top: -3rem;  
    position: relative;
}

.testimoialis__text {
    display: block;
}



@mixin atMedium {

    .testimonials__content {
        
        flex-direction: row;
        justify-content: center;
        padding:0;
        
    }


    .testimoials__item {
            width: 45%;
            margin: 6rem 2rem;;

         }   
        
    }


    
@mixin atLarge {

    .testimoials__item {
            width: 27%;
            margin: 2rem;;

         }   
        
    }
