#testimonials {
    padding: 8rem 0;
}

.testimonials__title {
    text-align: center;
    font-size: 3.4rem;
    margin-bottom: 2rem;
}

.testimonials__content {
    display: flex;
    justify-content: center;
}

.testimonials__item {
    padding: 1rem 2rem;
    box-sizing: border-box;
    text-align: center;
}